* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: NaslovnicaVsebina;
	src: url(../fonts/Amatic_SC,Yatra_One/Amatic_SC/AmaticSC-Bold.ttf);
}
@font-face {
	font-family: Vsebina;
	src: url(../fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
}
@font-face {
	font-family: Vsebina2;
	src: url(../fonts/Krub/Krub-Medium.ttf);
}

@media (max-width: 10000000px){
	html, body {
		width: 100%;
		height: 100%;
		position: static;
	}

	

}

/*
h1 {
	color: black;
	font-family: NaslovnicaVsebina;
	font-weight: bold;
	justify-content: center;
	display: flex;
	font-size: 45px;
	margin-bottom: 0.3em;
	text-align: center;
	user-select: none;
}*/
