* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: NaslovnicaVsebina;
	src: url(../fonts/Amatic_SC,Yatra_One/Amatic_SC/AmaticSC-Bold.ttf);
}
@font-face {
	font-family: Vsebina;
	src: url(../fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
}
@font-face {
	font-family: Vsebina2;
	src: url(../fonts/Krub/Krub-Medium.ttf);
}

html, body {
	width: 100%;
	height: 100%;
}

@media (max-width: 100000px){
	.okvir {
	background: #ffe7e7;
	border: solid #ff7575 7.5px;
	margin: auto;
	margin-top: 4%;
	width: 50%;
	height: 70%;
	padding-top: 20px;
	border-radius: 10px;
	}

	h1{
	color: black;
	font-family: NaslovnicaVsebina;
	font-weight: bold;
	justify-content: center;
	display: flex;
	font-size: 75px;
	margin-bottom: 0.3em;
	user-select: none;
	}

	.okvirForme{
		font-size: 28px;
		font-family: Vsebina;
	}

	.oblikaImePriimekInput{
		width: 200px;
		display: inline;
		height: 30px;
	}

	#oblikaIme{
		padding-left: 130px;
		padding-right: 20px;
	}

	#oblikaPriimek{
		padding-left: 60px;
		padding-right: 20px;
	}

	.divSkupajInputLabel{
		display: inline;
	}
}

/*
h1 {
	color: black;
	font-family: NaslovnicaVsebina;
	font-weight: bold;
	justify-content: center;
	display: flex;
	font-size: 45px;
	margin-bottom: 0.3em;
	text-align: center;
	user-select: none;
}*/